<!-- Developed by @proh_gram_er -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>anncmnt/evnt</title>
  </head>
  <body>
    <main>
      <div class="text-field-block">
        {% if success %}
        <p class="success"><strong> Alert: </strong> {{ success }}</p>
        {% endif %}
        <div class="text-field-card">
          <div class="form-control">
            <h1 style="color: #f38181">Create</h1>
            <form method="POST">
              <p>
                <input type="text" name="title" required placeholder="Title" />
              </p>
              <p>
                <input type="date" name="date" required placeholder="Date" />
              </p>
              <p>
                <input
                  type="text"
                  name="description"
                  required
                  placeholder="Description"
                />
              </p>
              <p>
                <button class="create" type="submit">Post</button>
              </p>
            </form>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
